/* HEADER */
.header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 18px 0;
  color: #fff;
  z-index: 999;
}

.header.active {
  box-shadow: 0px 0px 8px rgb(218, 215, 215);
  background-color: #fff;
  a {
    color: #000000;
  }
  .menu-item:first-child a {
    border-color: #000000;
  }
  .langList-item {
    border-left: 1px solid #000000;
  }
  .langList-item:first-child {
    border: none;
  }
  .menu-item a:hover,
  .menu-item.active a {
    border-color: #000000;
  }
}

.header-scroll {
  background: #fff;
  color: #000000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
}
.header-scroll .logo path {
  fill: #000000;
}

.header-scroll .logo img {
  display: none;
  &.logo_dark {
    display: block;
  }
}

.header-scroll .menu-item.active a,
.header-scroll .menu-item a:hover,
.header-scroll .langList-item {
  border-color: #000000;
}

.header a {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: inherit;
  transition: all 1s ease-out;
}

.nav {
  width: calc(50% + 30px);
  margin-left: 20px;
}

.langList {
  display: flex;
  align-items: center;
}
.langList-item {
  padding: 0 5px;
  border-left: 1px solid #fff;
}

.langList-item a:hover {
  opacity: 0.7;
}
.langList-item:first-child {
  border: none;
  opacity: 0.5;
}

.menu {
  display: flex;
}
.menu-item {
  margin-left: 56px;
  &-count {
    display: none;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
  }
}
.menu-item a {
  padding: 2px 0;
  border-bottom: 1px solid transparent;
}
.menu-item a:hover,
.menu-item.active a {
  border-color: #fff;
}
.menu-item:first-child a {
  border-color: #fff;
}

.burger {
  background: transparent;
  border: none;
  display: none;
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.burger span {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-out;
}
.header-scroll .burger span {
  background: #000;
}
.burger span:last-child {
  margin-bottom: 0;
}
.burger-active span:first-child {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}
.burger-active span:nth-child(2) {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
}
.burger-active span:last-child {
  display: none;
}

.wrapMenu {
  .langList {
    display: none;
  }

  &.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000000;
    padding-top: 15px;
    display: block;

    .burger {
      height: 42px;
      width: 42px;
      margin-left: auto;
      margin-right: 20px;
      background: none;

      span {
        background: #fff;
        height: 1px;
      }
      &.burger-active {
        span {
          margin-top: 10px;
        }
      }
    }
    .burger-hidden {
      display: none;
    }
    .menu {
      display: block;
      margin: 0 22px;
      margin-top: 10px;
    }
    .menu-item {
      margin: 0;
      padding: 22px 0;
      a {
        display: inline-flex;
        align-items: flex-start;
        font-family: "Oswald";
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        border: none;
        color: #fff;
      }
      &.active {
        a {
          span {
            border-bottom: 1px solid #fff;
          }
          .menu-item-count {
            border: none;
          }
        }
      }
      .menu-item-count {
        display: inline-block;
        padding-right: 20px;
        border: none;
      }
    }
  }
}
@media only screen and (max-width: 1440px) {
  .header {
    padding: 15px 0;
  }
  .nav {
    width: calc(100% - 200px);
    justify-content: flex-end;
  }
  .menu {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .menu-hiden {
    display: none;
  }
  .nav {
    width: calc(50% + 30px);
    justify-content: space-between;
  }
  .burger {
    display: block;
  }
  .wrapMenu {
    display: none;
  }
}
@media only screen and (max-width: 574px) {
  .menu-hiden {
    display: none;
  }
  .header {
    padding: 20px 0;
  }
  .nav {
    justify-content: flex-end;
  }
  .langList {
    display: none;
  }
  .wrapMenu.open .langList {
    display: flex;
    padding-left: 22px;
    padding-top: 60px;
    a {
      font-family: "Manrope";
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.02em;
    }
  }
}
/* END HEADER */
